
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ExcelReading.Models.Data>


<div>
    <h1 class="display-4 text-center">Excel Dosyanızı Yükleyiniz.</h1>
    <br />
    <form enctype="multipart/form-data" method="post">
        <div class="form-group text-center">
            <label class="control-label" for="fileAdd"></label>
            <input type="file" name="file" class="form-control-file" id="fileAdd" />
            <input type="submit" value="Submit" class="btn btn-info" asp-controller="Home" asp-action="Excel" />
        </div>
    </form>
</div>
<br />


<hr />
@if (Model != null && Model.Any())
{

    <table cellpadding="1" cellspacing="1" border="1" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Veri
                </th>
                <th scope="col">
                    Adet
                </th>

            </tr>
        </thead>
        @foreach (Data data in Model)

        {
            if (data != null && data.Count > 1)
            {
                <tbody>
                    <tr>
                        <td scope="row">
                            @data.Name
                        </td>
                        <td>
                            @data.Count
                        </td>
                    </tr>
                </tbody>
            }

        }

    </table>
}


